body {
    font-family: sans-serif;
    direction: rtl;
    background: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*Header*/
.header{
    width: 100%;
    display: block;
    position: absolute;
    direction: ltr;
    background-color: rgba(0, 113, 233, 0.7);
    color: white;
    padding: 10px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    top: 0px;
    margin: 0;
}

/*The content*/
.quiz-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

@media (max-width: 400px) {
    .quiz-box{
        width: 250px;
    }
}

.quiz-box:hover{
    border: 1px solid #007bff;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
}

.options label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:disabled {
    background: grey;
}

#result {
    direction: ltr;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

/*Footer*/
.footer{
    width: 100%;
    display: block;
    position: absolute;
    direction: ltr;
    background-color: rgba(0, 0, 0, 0.5);
    background-color: #2c4755;
    color: white;
    padding: 8px 0px;
    text-align: center;
    font-size: 15px;
    bottom: 0px;
    margin: 0;
}

.footer a{
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
}